//user info
.userinfoflex {
  display: flex;
  flex-direction: column;
}
.userinfoflex2 {
  padding: 10px;
  color: rgb(230, 227, 227);
  background-color: #b1b1b1;
  border: none;
}
.userinfoflex3 {
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: #dbdbdb;

  border: none;
}
.spacing {
  margin-bottom: 160px;
}
//change password style
.Changepasstag {
  text-decoration: underline;
}

.formdiv {
  font-size: 15px;
  font-style: oblique;
  font-weight: lighter;
  max-width: 360px;
}
.float {
  float: right;
  width: 50%;
  padding: 2px 0px 2px 0px;
  text-align: center;

  background-color: rgb(233, 225, 216);
  box-shadow: 0px 0px 8px #9b9a9a inset;
}
.setreset {
  display: flex;
  justify-content: space-between;
}
.submitbuttonspace {
  // background-color: #adadad;
  background-color: #a2a3a3;
  padding: 3px 14px 3px 14px;
  margin-right: 100px;
  border: none;
  box-shadow: 4px 0px 6px #626262;
}
//add preferences
.addroom {
  color: white;
  font-size: 14px;
  margin-top: 10px;
  padding: 6px 16px 6px 16px;
  background-color: #ff0a0a;
  box-shadow: -2px -3px 10px #750101 inset;
}
.preferencesubmit {
  color: white;

  font-size: 16px;
  margin-top: 10px;
  padding: 6px 20px 6px 20px;
  background-color: #008b0c;
  box-shadow: -2px -3px 10px #003802 inset;
}
.checksize {
  padding: 5px;
}
.selectlimit {
  width: 300px;
}
.preferenceflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.preferencelist {
  max-width: 300px;

  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow-y: auto;
  padding: 20px;

  background-color: #a1a1a138;
  box-shadow: 0px 0px 40px #34343571 inset;
}
.msg {
  margin-top: 0px;
  text-align: center;
  text-decoration: underline;
  font-size: larger;
  font-style: bold;
}
.addroomform {
  max-width: 420px;
  max-height: 250px;
  padding: 10px;
  border: 2px solid #d8d8d8;
  border-radius: 3px;
  margin-bottom: 30px;
}
.underlined {
  text-decoration: wavy;
}
.floor {
  padding: 3px 6px 3px 6px;
  width: 160px;
}
.selectroom {
  width: auto;
}
.listname {
  margin-top: 4px;
  font-weight: bold;
  text-align: center;
}
.roomoptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to right, #8d8d8d, #8b8b8b0a);
  margin-bottom: 5px;
  padding: 3px 5px 3px 5px;
}
.movebuttonup {
  padding: 10px 15px 10px 15px;
  background-image: url("./up.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position-x: center;
  margin-right: 10px;
}
.movebuttondown {
  padding: 10px 15px 10px 15px;
  background-position-x: center;
  background-image: url("./down.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-right: 10px;
}
.movebuttoncancel {
  padding: 10px 15px 10px 15px;
  background-image: url("./cross.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 16px 16px;
  margin-right: 10px;
}
.referenceinput {
  width: 160px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}
@media (max-width: 720px) {
  .preferenceflex {
    flex-direction: column;
  }
  .selectlimit {
    width: 200px;
  }
}
@media (max-width: 960px) {
  .preferenceflex {
    flex-direction: column;
  }
  .selectlimit {
    width: 200px;
  }
}
