// // // #VACENTMODEL{
// // //     width:70%;
// // //     height: 60%;
// // //     margin:auto;
// // //     //overflow:scroll;

// // // }

// // //doinexpriemt
// // #VACENTMODEL{
// //     display: none;
// //     height: 100%;
// //     left: 0;
// //     position: fixed;
// //     top: 0;
// //     width: 70%;
// //     padding:10px;

// // }

// // #VACENTMODEL.open {
// //     display: block;
// //  }

// // .non-moveable-header {
// //     height: 100px;
// // }

// // .vacantRoomModel {
// //     position: absolute;
// //     width: 90%;
// // }

// // .vacantRoomModel {
// //     bottom: 10px;
// //     top: 100px;
// //     overflow-y: auto;
// // }

// // //end

//  .vacantRoomModelButton{
//     margin:0;
//     float:right;
//     padding: 0;
//     cursor: pointer;
//     background: 0 0;
//     border: 0;
//     opacity: 50%;
//     position: relative;
//     top:-30px;
//     font-size: x-large;

// }

// // .vacantRoomModelButton:hover{
// //     opacity: 100%;
// //     font-weight:bold;

// // }

// // .fixedSelect{
// //     width:20%;
// //     margin-left:2px;
// // }

// // // .vacantRoomModel>.margin-selectbar{
// // //     margin-top:20px;
// // //    // overflow:scroll;

// // // }

// // .need-box{
// //     //border:2px solid black;
// //     margin-right:5px;
// //     font-size:larger;
// //     margin-bottom:9px;
// //     color:white;
// //     float:left;
// //     // padding:5px;
// //     //border-radius: 5px;

// // }

// // .prefix-part{
// //     background-color: #0681f5;
// //     overflow:hidden;
// //     padding:5px;

// // }

// // .suffix-part{
// //     background-color: #3c53b8;
// //     padding:5px;
// // }

// // .prefix-color{
// //     background-color: #0681f5;
// //     color:#0681f5;
// // }

// // .suffix-color{
// //     background-color:#3c53b8;
// //     color:#3c53b8;
// // }

// // .margin-selectbar{
// //     margin-top:20px;
// // }

// // // .movable-body-vacantRoom{
// // //     width:100%;
// // //     height:80%;
// // //     margin-top:50px;
// // //     overflow:scroll;
// // // }

// // // .non-moveable-header{
// // //    position: relative;
// // // }
// .parentOfModelVacant{
//     height:50%;
//     width:10%;
// }

// .ReactModalPortal > div{
//     opacity: 0;
// }

// .ReactModalPortal .ReactModal__Overlay {
//     display:flex;
//     justify-content: center;
//     align-items: center;
//     transition: opacity 200ms ease-in-out;
// }
// .ReactModalPortal .ReactModal__Overlay--after-open{
//     opacity: 1;
// }

// .ReactModalPortal .ReactModal__Overlay--before-close{
//     opacity: 0;

// }

@media (max-width: 720px) {
  .fixedSelect {
    width: 50%;
  }
  .model-size-vacantroom1 {
    max-width: 300px;
    max-height: 380px;
  }
  .non-moveable-header {
    max-width: 300px;
  }
  .vacantRoomModel {
    max-height: 340px;
  }
}

table {
  border-collapse: collapse;
  width: 280px;
}
.tr1 {
  background-color: #dfdfdf;
  box-shadow: 0px 0px 14px 0px #03030373 inset;
}
.td1 {
  background-color: #90d6ff9c;
  box-shadow: 0px 0px 12px 0px #039affc9 inset;
}
.td2 {
  background-color: #c3ffbef8;
  box-shadow: 0px 0px 12px 0px #5eff00da inset;
}

td,
th {
  border: 1px solid rgb(223, 223, 223);
  padding: 0.5rem;
  text-align: center;
}

.model-size-vacantroom1 {
  background-color: rgba(218, 249, 255, 0.849);
  box-shadow: 2px 2px 16px #084b426b inset;
  padding: 20px;
  position: absolute;
  left: auto;
  top: 20%;
  border-radius: 3px;
  width: 400px;
  height: 60%;
  outline: none;
}
.vacantRoomModel {
  height: 300px;
  margin-top: 0px;
  overflow-y: auto;
}
.vacantRoomModel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.vacantRoomModel {
  -ms-overflow-style: none;
}

.vacantRoomModelButton {
  margin: 0;
  float: right;
  padding: 0px 6px 0 6px;
  cursor: pointer;
  border: 0;
  background: none;
  opacity: 60%;
  position: relative;
  font-size: 26px;
  font-weight: bold;
  color: #000000fd;
}
.vacantRoomModelButton:hover {
  color: #eb0101;
  opacity: 100%;
}
.vacantRoomModelButton:active {
  color: #eb0101;
  opacity: 100%;
}

.margin-selectbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.non-moveable-header {
  margin-top: -8px;
  width: 400px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #050505b0;
}
.h2vacant {
  margin-top: 2px;

  font-size: 30px;
  font-weight: bold;
}
.Spacing {
  padding: 15px;
}
.selectroom1 {
  width: 100%;
}
